/* ::::: https://y.gtimg.cn/mediastyle/yqq/layout0110.css?max_age=25920000&v=20160803 ::::: */

@font-face {
	font-family: "poppin";
	src: url('poppin.eot') format("embedded-opentype"), url('poppin.ttf') format("truetype");
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, html, input, lengend, li, ol, p, pre, td, textarea, th, ul { margin: 0px; padding: 0px; }
body, button, input, select, textarea, th { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); font-size: 14px; line-height: 1.5; font-family: poppin,"PingFang SC",Tahoma,Arial,微软雅黑,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
li { list-style: outside none none; }
img { border: 0px none; image-rendering: optimizequality; }
button { cursor: pointer; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(49, 194, 124); text-decoration: none; }
a:focus, button:focus, input:focus { outline: 0px none; }
.icon_txt { font: 0px/0 a; }
.mod_btn, .mod_btn_green { border-radius: 2px; font-size: 14px; margin-right: 6px; padding: 0px 23px; height: 38px; line-height: 38px; display: inline-block; white-space: nowrap; }
.mod_btn { border: 1px solid rgb(201, 201, 201); color: rgb(51, 51, 51); }
.mod_btn--hover, .mod_btn:hover { background-color: rgb(237, 237, 237); color: rgb(51, 51, 51); }
.mod_btn_green { border: 1px solid rgb(49, 194, 124); background-color: rgb(49, 194, 124); color: rgb(255, 255, 255); }
.mod_btn_green:hover { background-color: rgb(44, 175, 111); border-color: rgb(44, 175, 111); color: rgb(255, 255, 255); }
.mod_btn_green:active { background-color: rgb(39, 156, 99); border-color: rgb(39, 156, 99); }
.mod_btn__icon_add, .mod_btn__icon_batch, .mod_btn__icon_copy, .mod_btn__icon_delete, .mod_btn__icon_down, .mod_btn__icon_input, .mod_btn__icon_less, .mod_btn__icon_like, .mod_btn__icon_manage, .mod_btn__icon_menu, .mod_btn__icon_more, .mod_btn__icon_new, .mod_btn__icon_no, .mod_btn__icon_play, .mod_btn__icon_qr, .mod_btn__icon_upload, .mod_btn__icon_yes, .mod_btn_green__icon_add, .mod_btn_green__icon_clear, .mod_btn_green__icon_delete, .mod_btn_green__icon_down, .mod_btn_green__icon_like, .mod_btn_green__icon_more, .mod_btn_green__icon_play, .mod_btn_green__icon_radio { display: inline-block; margin-right: 6px; background-image: url('icon_sprite.png'); background-repeat: no-repeat; vertical-align: -3px; }
.mod_btn__icon_new { width: 16px; height: 16px; background-position: 0px -180px; }
.mod_btn, .mod_btn_green { border-radius: 2px; font-size: 14px; margin-right: 6px; padding: 0px 23px; height: 38px; line-height: 38px; display: inline-block; white-space: nowrap; }
.mod_btn { border: 1px solid rgb(201, 201, 201); color: rgb(51, 51, 51); }
.mod_btn--hover, .mod_btn:hover { background-color: rgb(237, 237, 237); color: rgb(51, 51, 51); }
.mod_btn_green { border: 1px solid rgb(49, 194, 124); background-color: rgb(49, 194, 124); color: rgb(255, 255, 255); }
.mod_btn_green:hover { background-color: rgb(44, 175, 111); border-color: rgb(44, 175, 111); color: rgb(255, 255, 255); }
.mod_btn_green:active { background-color: rgb(39, 156, 99); border-color: rgb(39, 156, 99); }
.mod_btn__icon_add, .mod_btn__icon_batch, .mod_btn__icon_copy, .mod_btn__icon_delete, .mod_btn__icon_down, .mod_btn__icon_input, .mod_btn__icon_less, .mod_btn__icon_like, .mod_btn__icon_manage, .mod_btn__icon_menu, .mod_btn__icon_more, .mod_btn__icon_new, .mod_btn__icon_no, .mod_btn__icon_play, .mod_btn__icon_qr, .mod_btn__icon_upload, .mod_btn__icon_yes, .mod_btn_green__icon_add, .mod_btn_green__icon_clear, .mod_btn_green__icon_delete, .mod_btn_green__icon_down, .mod_btn_green__icon_like, .mod_btn_green__icon_more, .mod_btn_green__icon_play, .mod_btn_green__icon_radio { display: inline-block; margin-right: 6px; background-image: url('icon_sprite_001.png'); background-repeat: no-repeat; vertical-align: -3px; }
.mod_btn__icon_new { width: 16px; height: 16px; background-position: 0px -180px; }
.popup__bd::after { clear: both; content: " "; display: block; }
.upload_tips::before { content: "*"; position: absolute; top: 3px; left: 0px; }
.upload_slider::before { content: ""; position: absolute; top: 10px; left: 0px; width: 100%; height: 3px; background-color: rgb(204, 204, 204); }
.footer { color: rgb(153, 153, 153); background-color: rgb(51, 51, 51); clear: both; }
.footer a { color: rgb(153, 153, 153); }
.footer a:hover { color: rgb(49, 194, 124); }
.footer_info { overflow: hidden; border-bottom: 1px solid rgb(53, 53, 53); position: relative; }
.footer_tit { font-size: 15px; font-weight: 400; padding: 80px 0px 46px; }
.footer_download { position: absolute; top: 0px; left: 10px; }
.footer_download_list { margin-left: -29px; }
.footer_download_list__item { float: left; text-align: center; position: relative; }
.footer_product { position: absolute; top: 0px; left: 476px; width: 304px; }
.footer_product_list { margin-left: -25px; }
.footer_product_list__item { float: left; margin-bottom: 18px; text-indent: 25px; margin-right: 5px; }
.footer_product_list__item--pic { text-align: center; position: relative; margin-right: 0px; text-indent: 0px; }
.footer_copyright { font-size: 12px; }
.icon_qm_android, .icon_qm_iphone, .icon_qm_kg, .icon_qm_mac, .icon_qm_pc, .icon_qm_qp, .icon_qm_ss { display: block; margin: 0px 29px 12px; width: 48px; height: 48px; background-image: url('footer.png'); }
.icon_qm_pc { width: 37px; background-position: -2px 0px; }
.icon_qm_mac { width: 46px; background-position: -92px 0px; }
.icon_qm_android { width: 37px; background-position: -190px 0px; }
.icon_qm_iphone { width: 34px; background-position: -279px 0px; }
.icon_qm_kg { width: 41px; background-position: -370px 0px; }
.icon_qm_ss { width: 37px; background-position: -463px 0px; }
.icon_qm_qp { margin-right: 23px; width: 40px; background-position: -563px 0px; }
.footer_download_list__item a:hover .icon_qm_pc { background-position: -2px -49px; }
.footer_download_list__item a:hover .icon_qm_mac { background-position: -92px -49px; }
.footer_download_list__item a:hover .icon_qm_android { background-position: -190px -49px; }
.footer_download_list__item a:hover .icon_qm_iphone { background-position: -279px -49px; }
.footer_product_list__item a:hover .icon_qm_kg { background-position: -370px -49px; }
.footer_product_list__item a:hover .icon_qm_ss { background-position: -463px -49px; }
.footer_product_list__item a:hover .icon_qm_qp { background-position: -563px -49px; }
.footer_link { float: right; width: 300px; padding-bottom: 57px; }
.footer_link_list__item { float: left; min-width: 100px; margin-bottom: 12px; }
.footer_link_list__item--more { display: none; }
.footer_copyright { text-align: center; line-height: 28px; padding: 24px 0px; }
body { min-width: 1240px; overflow-y: scroll; }
.main, .section_inner { max-width: 1200px; margin: 0px auto; position: relative; }
.main::after, .section_inner::after { content: ""; display: block; clear: both; }
.main { z-index: 2; }
.mod_header { background-color: rgb(255, 255, 255); position: relative; z-index: 4; }
.mod_header .section_inner { padding-top: 90px; }
.qqmusic_title { position: absolute; left: 0px; top: 19px; }
.qqmusic_logo { width: 190px; height: 52px; }
.mod_top_nav { position: absolute; left: 225px; top: 0px; }
.top_nav__item { float: left; }
.top_nav__link { display: block; padding: 0px 20px; line-height: 90px; height: 90px; text-align: center; font-size: 18px; }
.top_nav__link--current, .top_nav__link--current:hover { background-color: rgb(49, 194, 124); color: rgb(255, 255, 255); }
.top_nav__item--vip { font-size: 22px; }
.mod_top_subnav { height: 51px; line-height: 51px; border-top: 1px solid rgb(242, 242, 242); padding-left: 256px; }
.top_subnav__item { float: left; font-size: 15px; color: rgb(193, 193, 193); margin-right: 56px; }
.header__opt { position: absolute; top: 0px; right: 0px; height: 90px; line-height: 90px; }
.mod_top_login { font-size: 0px; height: 90px; line-height: 90px; }
.top_login__link { font-size: 16px; float: left; width: 38px; margin-right: 11px; text-align: center; }
.top_login__btn_vip { margin-top: 24px; padding: 0px 11px; margin-left: 10px; margin-right: 0px; font-size: 13px; }
.popup_user { position: absolute; right: 0px; top: 90px; width: 292px; background-color: rgb(255, 255, 255); z-index: 9; line-height: 1.5; border: 1px solid rgb(242, 242, 242); font-size: 13px; }
.mod_top_search { position: absolute; top: 0px; right: 294px; }
.mod_search_input { border: 1px solid rgb(201, 201, 201); padding: 0px 33px 0px 15px; line-height: 36px; height: 36px; margin-top: 26px; position: relative; border-radius: 3px; background-color: rgb(255, 255, 255); transition: width 0.6s ease-out 0s; }
.search_input__input { width: 200px; height: 36px; border: 0px none; font-size: 14px; background: transparent none repeat scroll 0px 0px; transition: width 0.6s ease-out 0s, visibility 0.6s ease-out 1ms; }
.search_input__btn { position: absolute; top: 0px; right: 0px; border: 0px none; width: 38px; height: 35px; overflow: visible; background: transparent none repeat scroll 0px 0px; }
.icon_search { position: absolute; top: 50%; right: 15px; margin-top: -8px; width: 16px; height: 16px; background-image: url('icon_sprite.png'); background-position: 0px -40px; }
.search_input__btn:hover .icon_search { background-position: 0px -60px; }
.mod_search_other { position: absolute; top: 63px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 248px; border: 1px solid rgb(201, 201, 201); z-index: 8; text-align: left; font-size: 14px; line-height: 36px; }
.search_history { padding: 5px 0px; border-bottom: 1px solid rgb(242, 242, 242); }
.search_history__tit { color: rgb(153, 153, 153); position: relative; }
.search_history__item { position: relative; }
.search_history__link { display: block; color: rgb(51, 51, 51); padding-right: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.search_history__item:hover .search_history__link { padding-right: 35px; }
.search_history__item:hover .search_history__link, .search_result__item--current .search_history__link { background-color: rgb(49, 194, 124); color: rgb(255, 255, 255); }
.search_history__link, .search_history__tit { padding-left: 15px; }
.icon_history_clear, .search_history__icon_delete { background-image: url('icon_sprite.png'); }
.search_history__clear { position: absolute; top: 0px; right: 0px; width: 40px; height: 36px; font-size: 2px; text-align: center; }
.icon_history_clear { position: absolute; top: 50%; right: 15px; margin-top: -8px; width: 16px; height: 16px; background-position: -100px 0px; }
.search_history__clear:hover .icon_history_clear { background-position: -20px -60px; }
.search_history__delete { display: none; position: absolute; top: 0px; right: 0px; width: 33px; height: 36px; font-size: 2px; text-align: center; }
.search_history__icon_delete { position: absolute; top: 50%; right: 15px; margin-top: -6px; width: 12px; height: 12px; background-position: 0px -240px; }
.search_history__item:hover .search_history__delete, .search_result__item--current .search_history__delete { display: block; }
.search_hot { padding: 5px 0px; }
.search_hot__tit { display: none; }
.search_hot__link { padding-left: 15px; padding-right: 15px; }
.search_hot__link { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.search_hot__link:hover, .search_hot__link:hover span, .search_result__item--current { color: rgb(255, 255, 255); background-color: rgb(49, 194, 124); }
.search_hot__link span { cursor: pointer; }
.search_hot__name { float: left; color: rgb(51, 51, 51); max-width: 140px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.search_hot__number { color: rgb(255, 66, 34); float: left; width: 18px; }
.search_hot__listen { float: right; color: rgb(153, 153, 153); font-size: 12px; }
.mod_search_other, .mod_search_result, .popup_user { max-height: 0px; visibility: hidden; transition: max-height 0.6s ease-out 0s, visibility 1ms ease 0.6s; overflow: hidden; }
.btn_bottom_feedback, .btn_bottom_player, .btn_bottom_top { position: fixed; right: 40px; width: 50px; height: 50px; background-image: url('icon_sprite.png'); z-index: 4; }
.btn_bottom_top { bottom: 142px; background-position: 0px -120px; }
.btn_bottom_top:hover { background-position: -50px -120px; }
.btn_bottom_feedback { bottom: 91px; background-position: -100px -120px; }
.btn_bottom_player { bottom: 40px; background-position: -150px -280px; }
.btn_bottom_feedback:hover, .btn_bottom_player:hover { background: rgb(49, 194, 124) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.btn_bottom_feedback:hover .icon_txt, .btn_bottom_player:hover .icon_txt { display: block; font-size: 12px; font-family: "PingFang SC",Tahoma,Arial,微软雅黑,sans-serif; text-align: center; }
.btn_bottom_feedback:hover .icon_txt { line-height: 16px; padding: 9px; }
.btn_bottom_player:hover .icon_txt { line-height: 50px; }
/* ::::: https://y.gtimg.cn/mediastyle/yqq/profile.css?max_age=2592000 ::::: */

.mod_tab, .mod_tab__item { height: 56px; line-height: 56px; }
.mod_tab { position: relative; border-bottom: 1px solid rgb(247, 247, 247); margin-bottom: 30px; }
.mod_tab__item { position: relative; float: left; font-size: 16px; overflow: hidden; margin-right: 55px; }
.mod_tab__current { color: rgb(49, 194, 124); }
.mv_list__list::after { content: ""; display: block; clear: both; }
.mv_list__cover::after { content: ""; position: absolute; bottom: 0px; left: 0px; right: 0px; height: 60px; background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0% 0%; }
.none_txt { position: relative; font-size: 20px; color: rgb(102, 102, 102); line-height: 38px; text-align: center; padding: 90px 0px 100px; z-index: 2; }
.none_txt__symbol { display: block; width: 213px; height: 203px; margin: 0px auto 27px; background-image: url('symbol_none.png'); }
.none_txt p a { color: rgb(49, 194, 124); }
.main { min-height: 500px; }
.mod_profile_unlogin { height: 922px; background: transparent url('bg_profile_unlogin.jpg') no-repeat scroll 50% center / cover ; overflow: hidden; }
.profile_unlogin__desc, .profile_unlogin__tit { background-image: url('profile_tit.png'); margin-left: auto; margin-right: auto; }
.profile_unlogin__tit { width: 735px; height: 64px; background-position: 0px 0px; margin-top: 350px; }
.profile_unlogin__desc { width: 345px; height: 30px; background-position: 0px -70px; margin-top: 30px; margin-bottom: 36px; }
.profile_unlogin__btn { display: block; font-size: 20px; height: 48px; line-height: 48px; width: 128px; text-align: center; margin: 0px auto; }
@media screen and (max-height: 800px) {
	.mod_profile_unlogin { height: 622px; }
	.profile_unlogin__tit { margin-top: 210px; }
}
.mod_profile { height: 315px; padding-top: 65px; background: transparent url('bg_profile.jpg') no-repeat scroll 50% center / cover ; text-align: center; color: rgb(255, 255, 255); }
.mod_profile, .mod_profile .section_inner { height: 315px; }
.mod_tab { margin-bottom: -20px; overflow: hidden; border-bottom: 0px none; }
.profile_nav { position: absolute; top: -56px; left: 0px; margin-bottom: 0px; width: 80%; }
.profile_nav .mod_tab__item { color: rgb(255, 255, 255); }
.profile_nav .mod_tab__current, .profile_nav .mod_tab__item:hover { color: rgb(49, 194, 124); }
.btn_focus_fan { position: absolute; right: 0px; top: 15px; margin-right: 0px; }
